<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}">Ingresar cliente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body style="background-color: rgb(33, 33, 33);">

		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(20, 80, 160); color: white;">
		<a class="navbar-brand" >  <b> Registrar jugador </b> </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/listar}"> <div style="background-color: rgb(40, 80, 160); border-radius: 8px; color:darkgrey; padding: 3px;">  <b> Lista jugador</b></div></a>
				</li>
			
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1 th:text="${titulo}" style="color: white; margin-top: 10px;margin-bottom: 5px">
		</h1>

		<div th:object="${cliente}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/form}" th:object="${cliente}" method="post">
			<div class="mt-4 form-group row">
				<label class="col-sm-2 col-form-label" style ="color: white;">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" style ="color: white;">Apellido</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{apellido}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" style ="color: white;">Ingrese Email</label>
				<div class="col-sm-6">
					<input type="email" th:field="*{email}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" style ="color: white;">Ingrese Fecha</label>
				<div class="col-sm-6">
					<input type="date" class="form-control" th:field="*{fecha}"
						th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
						th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear jugador" class="btn btn-primary" style="font-weight: bolder;" />
				</div>
			</div>

		</form>
	</div>
</body>

</html>